<!DOCTYPE html>
<html>
  <head>
    <title>Tugas Kecil Strategi Algoritma</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Add styling -->
    <style>
        body {
            color: #fff;
        }

        .container {
            font-family: "Lato";
            width: 100%;
            height: 100vh;
            margin: auto;
            padding: 10px;
        }

        #map {
            width: 70%;
            height: 100vh;
            float: left;
        }

        #nav {
            background-color: #002C5C;
            background-size: cover;
            padding-top: 0.5vh;
            height: 100vh;
            text-align: center;
        }

        #input-column {
            font-family:"Times New Roman", Times, serif;
            font-size: 14px;
        }

        #btn:link, #btn:visited {
            margin-top: 40px;
            margin-bottom: 7px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 40px;
            display: inline-block;
            border-radius: 15px;
            background-color: #fff;
            color: #000;
        }

        #input-start, #input-end {
            width: 63px;
            height: 17px;
        }

        p {
            margin-top: 3.5px;
            margin-bottom: 3.5px;
        }

      </style>
    </head>
  <body>
    <div class="container">
        <!-- Map placeholder -->
        <div id="map"></div>
        <!-- Navigation placeholder -->
        <div id="nav">
            <h3>Input your coordinate here:</h3>
            <h4>( Or simply by clicking on the map )</h4>
            <!-- Text area where all coordinate's input stored -->
            <textarea name="input-column" id="input-column" cols="40" rows="10"></textarea>
            <h4>Input starting and finishing index here</h4>
            <!-- Text area for inputing starting and ending vertex -->
            <div class="input-vertex">
                <textarea name="input-start" id="input-start" cols="7" rows="1"></textarea>
                <p>to</p>
                <textarea name="input-end" id="input-end" cols="7" rows="1"></textarea>
            </div>
            <!-- Button for submitting -->
            <a href="#" id="btn">Submit</a>
        </div>
    </div>

    <script>
        var map;
        var prevMarker = null, currMarker = null;
        var markers = [], nodes = [], edges = [];
        var adjMatrix = [], nodesEff = [];

        // Initialize map
        function initMap() {
            // set first place to be seen in map
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: new google.maps.LatLng(-6.893137, 107.610442)
            });

            // get submit button element
            var submitBtn = document.getElementById('btn');

            // add event listener when map clicked and place marker on it
            map.addListener('click', function (e) {
                placeMarker(e.latLng, map);
            });

            // place input's coordinate parsed from text area
            submitBtn.addEventListener('click', function(e) {
                placeInput();
                // Delete last element which is a dummy element
                nodes.splice(-1, 1);
                nodes.splice(-1, 1);
                edges.splice(-1, 1);

                cleanDuplicate();
                createAdjMatrix();
                findMinPath();
            });

        }

        // Function to place marker at current position
        function placeMarker(position, map) {

            var isAlreadyExist = false;
            var marker = new google.maps.Marker({
                position: position,
                map: map,
                label: {
                    text : (markers.length + 1).toString(),
                    color : 'white'
                }
            });

            marker.addListener('click', function(){
                isAlreadyExist = true;
                mark1 = { lat: this.position.lat(), lng: this.position.lng() };
                mark2 = { lat: currMarker.position.lat(), lng: currMarker.position.lng() };
                addPath(mark1, mark2, '#000');
                addEdge(currMarker, this);
                nodes.push(mark2);
                prevMarker = currMarker;
                currMarker = this;
            });

            if(!isAlreadyExist) {
                // Keep the previous and current marker
                prevMarker = currMarker;
                currMarker = marker;

                // First node
                if(markers.length === 0) {
                    mark = { lat : currMarker.position.lat(), lng : currMarker.position.lng() };
                    nodes.push(mark);
                }

                markers.push(marker);

                // Add path to each vertex
                if(markers.length > 1) {
                    mark1 = { lat: prevMarker.position.lat(), lng: prevMarker.position.lng() };
                    mark2 = { lat: currMarker.position.lat(), lng: currMarker.position.lng() };
                    nodes.push(mark2);
                    addPath(mark1, mark2, '#000');
                    addEdge(prevMarker, currMarker);
                }
            }
        }

        // Function that parsed through textarea value and place marker
        function placeInput(){
            // Split coordinate line by line
            var lines = document.getElementById('input-column').value.split('\n');

            for (var i = 0; i < lines.length; i++) {
                lines[i] = lines[i].split(',');
                linObj = ({ num: i, absis: lines[i][0], ordinat: lines[i][1] });
                var coordinate = new google.maps.LatLng(linObj.absis, linObj.ordinat);
                placeMarker(coordinate, map);
            }
            lines[i] = lines[i].split(',');
            linObj = ({ num: i + 1, absis: lines[0][0], ordinat: lines[0][1] });
            var coordinate = new google.maps.LatLng(linObj.absis, linObj.ordinat);
            placeMarker(coordinate, map);

        }

        // Function that do A* algorithm
        function findMinPath() {
            startingNode = document.getElementById('input-start').value;
            endNode = document.getElementById('input-end').value;
            // Formatting input
            var inputData = {}
            inputData.node_list = nodesEff;
            inputData.matrix = adjMatrix;
            inputData.start = startingNode;
            inputData.end = endNode;
            inputData = JSON.stringify(inputData)
            // Send input to server for processing
            $.ajax({
              method : "POST",
              url : "./ProcInput",
              data : {input : inputData}
            }).done(function(response) {
              result = JSON.parse(response)
              if (result["status"] == -999) {
                alert("Server missing some sent data...");
              }
              else if (result["status"] == 1) {
                alert("Start or finishing index cannot be empty!");
              }
              else if ((result["status"] == 2) || (result["status"] == 3)) {
                alert("Start or finishing index is out of bounds!");
              }
              else {
                // Stores the path from start to end
                // For now, this will only show the first found path
                var path = result["path"][0][0];
                // Distance of this path
                var path_distance = result["path"][0][1];

                // Add path result in map
                addPathResult(path);

                // Make a new result heading html content
                var heading = document.createElement('h3');
                var node = document.createTextNode('Result : ');
                heading.appendChild(node);

                // Convert array of path to string
                pathString = pathToString(path);
                // Make a new answers html content
                var pathP = document.createElement('p');
                var distP = document.createElement('p');
                var path = document.createTextNode("The path is " + pathString);
                var dist = document.createTextNode("Distance : " + path_distance)
                pathP.appendChild(path);
                distP.appendChild(dist);

                // Append to navigation placeholder
                var br = document.createElement('br');
                var element = document.getElementById('nav');
                element.appendChild(heading);
                element.appendChild(pathP);
                element.appendChild(distP);
              }
            });
        }

        // Function that add path marker to map
        function addPathResult(path) {
            for (var i = path.length - 1; i > 0; i-- ) {
                console.log(path[i]);
                console.log(path[i-1]);
                marker1 = { lat: markers[path[i]-1].position.lat(), lng: markers[path[i]-1].position.lng() };
                marker2 = { lat: markers[path[i-1]-1].position.lat(), lng: markers[path[i-1]-1].position.lng() };
                addPath(marker1, marker2, '#FF9800');
            }
        }

        // Function that change array of path to array
        function pathToString(path) {
            result = "";
            for (var i = path.length - 1; i >= 0; i-- ) {
                if (i == path.length - 1) {
                    result += path[i];
                } else {
                    result += " -> " + path[i];
                }
            }
            return result;
        }

        // Function that add path to two markers
        function addPath(obj1, obj2, color) {
            // Set coordinates to add path
            var flightPlanCoordinates = [
                {lat: obj1.lat, lng: obj1.lng},
                {lat: obj2.lat, lng: obj2.lng},
            ];
            // Create path
            var flightPath = new google.maps.Polyline({
                path: flightPlanCoordinates,
                geodesic: true,
                strokeColor: color,
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            // Set path on the map
            flightPath.setMap(map);
        }

        // Function search at what index is marker in list of marker
        function checkMarker(marker) {
            for (var i = 0; i < markers.length; i++) {
                if(markers[i] === marker) {
                    idx = i;
                    return idx;
                }
            }
        }

        // Function that add edge to list of edge
        function addEdge(obj1, obj2) {
            var pos1 = obj1.getPosition(), pos2 = obj2.getPosition();
            var distance = google.maps.geometry.spherical.computeDistanceBetween(pos1, pos2);
            edge = {
                start : checkMarker(obj1) + 1,
                end : checkMarker(obj2) + 1,
                dist : distance
            };
            edges.push(edge);
        }

        // Function that checked whether certain node exist in list of edge
        function isExist(i, j) {
            var checked = false;
            for(var k = 0; k < edges.length; k++) {
                if((edges[k].start === i + 1) && (edges[k].end === j + 1)) {
                    checked =  true;
                }
            }
            return checked;
        }

        // Function that seek distance from certain node
        function calcDistance(i, j) {
            for(var k = 0; k < edges.length; k++) {
                if((edges[k].start === i + 1) && (edges[k].end === j + 1)) {
                    return edges[k].dist;
                }
            }
        }

        // Function that create adjacency matrix from edges and nodes
        function createAdjMatrix() {
            for(var i = 0; i < nodesEff.length; i++ ) {
                temp = [];
                for(var j = 0; j < nodesEff.length; j++ ) {
                    // Same node, add dummy element
                    if (i === j) {
                        temp.push(-1);
                    }
                    // Check whether it exist in edge list
                    else if (isExist(i, j)) {
                        temp.push(calcDistance(i, j));
                    }
                    else if (isExist(j, i)) {
                        temp.push(calcDistance(j, i));
                    }
                    // If not exist ,add dummy element
                    else {
                        temp.push(-1);
                    }
                }
                // console.log(temp);
                adjMatrix.push(temp);
            }
        }

        // Clean duplicate nodes
        function cleanDuplicate() {
            for(var i = 0; i < nodes.length; i++) {
                var isDuplicate = false;
                for(var j = i + 1; j < nodes.length; j++) {
                    if ((nodes[j].lng === nodes[i].lng) &&  (nodes[j].lat === nodes[i].lat)){
                        isDuplicate = true;
                    }
                }
                if(!isDuplicate) {
                    nodesEff.push(nodes[i]);
                }
            }
        }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg6xj5SA1PGTsVbxm7fFF6-7Q2CZlbGgY&callback=initMap">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCg6xj5SA1PGTsVbxm7fFF6-7Q2CZlbGgY&libraries=geometry">
</script>
  </body>
</html>
